.ant-spin-container {
    .ant-pagination {
        justify-content: center;
    }
}

.doneDate {
    text-decoration: line-through;
}

.cta-button {
    color: #1e90ff;

    &:hover{
        cursor: pointer;
    }

    &:active {
        color: #177bdf;
    }
}