.ant-spin-container {
    .ant-pagination {
        justify-content: center;
    }
}

.doneDate {
    text-decoration: line-through;
}

.red-row {
    background-color: #E31837;
}

.yellow-row {
    background-color: #FFD700;
}

.green-row {
    background-color: #1CAC78;
}

.cta-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}